@import url('https://fonts.googleapis.com/css2?family=Asimovian&display=swap');

:root{
  --text-color:#1a1c20;
  --link-color:#4a76ee;
  --background-color:#eeeff1;
}

*{
  margin:0;
  padding: 0%;
  box-sizing: border-box;
}

html{
  font-family: 'Asimovian', sans-serif;
  font-size: 12px;
  color: var(--text-color);
  text-align: center;
  scroll-behavior: smooth;
}

body{
  font-family: 'Asimovian', sans-serif;
  background-color: var(--background-color);
}

a{
  color:var(--link-color);
  text-decoration: none;
}

/* NAVBAR */
nav{
  display:flex;
  justify-content: space-between;
  padding: 0 50px;
  height: 60px;
  align-items: center;
}

nav .left a{
  color:var(--text-color);
  font-size: 22px;
  font-weight: 600;
}

nav .right a{
  color:var(--text-color);
  margin: 0 10px;
}

nav .right a:last-child{
  color: var(--background-color);
  background-color: var(--text-color);
  padding:5px 15px;
  border-radius: 5px;
}

nav .right a span{
  margin-left: 5px;
}

/* Section 1 */
.hero-section{
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
  margin: 50px 0;
  gap: 40px;
}

.hero-section .text{
  flex:5;
}

.hero-section .text h2{
  font-size: 45px;;
}

.hero-section .text .links{
  margin-top: 25px;
}

.hero-section .text .links a{
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid var(--link-color);
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: .1s;
}

.hero-section .text .links a:hover{
  color: var(--text-color);
  border: 2px solid var(--text-color);
}

.hero-section .headshot{
  flex:2;
  display: flex;
  justify-content: right;
}

.hero-section .headshot img{
  border-radius: 50%;
  width: 200px;
}

/* Section 2 */
.skills-section{
  padding: 0 50px;
  margin-bottom: 100px;
}

.skills-section h2{
  font-size: 35px;
  text-align: center;
}

.skills-section .text{
  margin-bottom: 20px;
  text-align: center;
}

.skills-section .cells{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skills-section .cells .cell{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  width: 200px;
  padding: 10px 20px;
  margin: 10px;
  border: 1.5px solid #d3d3d3;
  border-radius: 5px;
}

.skills-section .cells .cell img{
  width: 30px;
  height: 30px;
  object-fit: contain;
  border-radius: 2px;
}

.skills-section .cells .cell span{
  font-size: 18px;;
}

@media(max-width:850px){
  /*SECTION 1*/
  .hero-section h2{
    font-size: 35px;
  }
}

@media(max-width:740px){
  /*SECTION 1*/
  .hero-section{
    flex-direction: column-reverse;
  }

  .hero-section .headshot img{
    width: 300px;
  }
}

@media (max-width:600px){
  /*NAVBAR*/
  nav{
    padding: 0px 20px;
  }

  nav .right a{
    font-size: 22px;
  }

  nav .right a:last-child{
    color : var(--text-color);
    background-color: transparent;
    padding: 0;
  }

  nav .right a span{
    display: none;
  }

  /*SECTION 1*/
  .hero-section{
    padding: 0 20px;
  }

  .hero-section .text h2{
    font-size: 30px;
  }

  /*SECTION 2*/
  .skills-section{
    padding: 0 20px;
  }

  .skills-section .cells .cell span{
    font-size: 16px;
  }
}